<div class="container" align="center">
    <div class="jumbotron jumbotron-fluid text-white"  id ="jumbo">

        <h2><u>Search By Donor Name</u></h2>
        <br>

        <%= form_tag(search_resuts_path	, method: "get") do %>
        <%= label_tag(:q, "Search for:") %>
        <%= text_field_tag(:q) %>
        <br><br>
        <%= submit_tag("Search", class:"btn btn-info") %>
        <% end %>
    </div>
</div>
