<div class="container">
<br><br><br>
    <h2 class="text-danger"><u>Contact Details</u></h2>  <br>
    <h4>For blood bank related queries, feedback and suggestions:</h4>
    Address: Center For Development of Advanced Computing<br>
    C-56/1, Anusandhan Bhawan , Sector-62, Noida, Uttar Pardesh-201307<br><br>
    Contact number: <a href=""> +91-8527304568</a>
    <br><br>
    E-mail us: <a href=""> ourbloodbank@cdac.in</a>
    <br><br>

   <h5> For Administrative queries:<br></h5>
    Blood Cell, National Health Mission<br>
    Ministry of Health & Family Welfare, New Delhi-110011<br>

</div>
