
<br>
<div class="jumbotron" >
<h2><u>A Centralized Blood Bank Management System</u></h2>
</div>


<h5 >Online blood bank enforces Drug & Cosmetic Act, National blood policy standards and guidelines ensuring proper collection & donation, effective management and monitoring the quality and quantity of the donated blood. </h5>
<br><br>
<h5>Our blood bank has four major components for management of the blood donation life cycle:</h5>
<br>
<ul>

<li>The bio metric Donor Management System for identifying, tracking and blocking donors based on donors health, donation history etc.

<li>It provides features such as blood grouping, TTI screening, antibody screening, component preparation etc. as per the defined processes and rules.

<li>A centralized Blood Inventory Management System for keeping track of the blood stock across numerous blood banks.

<li>Bio-Medical Waste Management System for disposal of discarded blood and other waste generated during this process.


</ul>

